{{ $working_group := .Get "working_group" }}
{{ $resource_class := .Get "resource_class" }}
{{ $class := .Get "class" | default "" }}

<section class="container {{ $class }}">
    <h2 class="margin-bottom-60">Resources</h2>

    <div class="newsroom-resources-container">
        <div class="newsroom-resources" 
            data-res-wg="{{ $working_group }}" 
            data-res-title="Resources"
            data-res-type="case_study, white_paper, market_report, social_media_kit"
            data-res-template="image"
            data-res-limit
            data-res-skip
            data-res-class="{{ $resource_class }}"
            data-res-view-more
        ></div>
    </div>
    <div>
</section>