{{ $data_source := .Site.Data.collaborations.collaborating }}

<section id="collaboration-at-the-eclipse-foundation" class="row collaborations-collaborating">
    <div class="col-md-10 collaborations-col collaborations-collaborating-bg">
        <div class="title-wrapper">
            <h2 class="margin-0">Collaborating at the <span class="line-break" >Eclipse Foundation</span></h2>
        </div>
    </div>
    <div class="col-md-14 collaborations-col">
        <div class="row collaborations-col-row">
            {{ range $index, $item := $data_source }}
                {{ if eq (mod $index 2) 0 }}
                    <div class="clearfix"></div>
                {{ end }}
                <div class="col-md-12 collaborations-collaborating-item-col">
                    <div class="collaborations-collaborating-item">
                        <div class="item-icon-wrapper">
                            <img class="item-icon-bg" src="/collaborations/images/icons/icon-bg.png" alt="" />
                            <img class="item-icon" src="/collaborations/images/icons/{{ $item.icon }}" alt="" />
                        </div>
                        <div class="item-content">
                            <h3 class="item-content-title">{{ $item.title }}</h3>
                            <p>{{ $item.description }}</p>
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
</section>
