/*!
 * Copyright (c) 2021 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Eric Poirier <eric.poirier@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

.header-anniversary-bg-img  {
  min-height: 600px;
  background-position: 65%;
}

.featured-jumbotron {
  padding-top: 45px;
}

.featured-jumbotron h1:after {
  border-color: #2c2255;
  margin: 45px auto 0;
}

.featured-jumbotron-anniversary {
  position: relative;
}

.featured-jumbotron-anniversary h1 {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .featured-jumbotron-anniversary h1 {
      margin-bottom: 45px;
  }
}

@media (max-width: 1199px) {
  .jumbotron p {
      text-shadow: 0px 0px 12px #000;
  }
  #body_solstice .header-anniversary-bg-img  {
      background-position: left;
  }
}

@media (max-width: 768px) {
  #body_solstice .header-anniversary-bg-img  {
      background-position: 20%;
  }
}

.featured-jumbotron h1:after {
  border-color: #f7941e;
}

.header-dark-bg-img {
  background-image: @header-dark-bg-img;
}