/*!
 * Copyright (c) 2022, 2023 Eclipse Foundation, Inc.
 * 
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 * 
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 * 
 * SPDX-License-Identifier: EPL-2.0
*/

@brand-primary-darker: #FF8F00;
@brand-primary-mid: #FFB769;
@collaborations-black: #070606;

@section-dark-white: @white;
@collaboration-gray: #F0EFEF;
@collaborating-item-color: #888890;
@collaborations-padding-y: 3em;
@collaborations-icon-wrapper-margin-top: 0.5em; // adjust for matching section header height
@collaborations-btn-padding: 1em;

@collaborations-text-black: @collaborations-black;
@featured-section-brief-text-color: #F4F4F4;
@sections-section-height-md: 18.5rem;
@sections-section-height-xs: 16.5rem;
@section-content-padding-y: 12rem;
@section-content-padding-x: 10rem;
@section-quote-bar-width: 28rem;
@section-content-quote-padding-x: 4rem;
@section-content-body-background-color: #E2DDDD;
@section-content-body-hover-link-color: #0000CD;
@section-content-body-hover-link-color-visited: #8B008B;  
@section-content-border-color: #B1ADAD;
@table-of-contents-hover-background-color:#8D8888;
