<!-- Featured Committer and Featured project -->
<div class="featured-committer-project-section row" style="display:none;">
  <div class="container">
    <div class="row">
      <hr class="brand-primary padding-bottom-10">
      <div class="col-lg-10 col-lg-offset-2 col-md-12 padding-bottom-50 featured-committer-section"
        style="display:none;">
        <div class="block-summary-title">
          <i class="fa fa-star fa-3x center-block brand-primary text-center padding-bottom-10" aria-hidden="true"></i>
          <h2>Featured Committer</h2>
        </div>
        <div class="news-container my-group" id="commiters-container">
        </div>
      </div>
      <div class="col-lg-10 col-md-12 padding-bottom-50 featured-project-section" style="display:none;">
        <div class="block-summary-title">
          <i class="fa fa-rocket fa-3x center-block brand-primary text-center padding-bottom-10" aria-hidden="true"></i>
          <h2>Featured Project</h2>
        </div>
        <div class="news-container my-group" id="projects-container">
        </div>
      </div>
    </div>
  </div>
</div>