<div class="featured-stats row">
  <div class="container margin-top-20">
    <h2 class="margin-bottom-30 margin-top-0">Eclipse Foundation by the Numbers</h2>
    <div class="row">
      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row margin-right-0">
          <a href="/projects" class="featured-stats-link">
            <span class="col-xs-12 featured-stats-icon-container">
              <span class="featured-circle featured-circle-stats"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                  height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1"
                  stroke-linecap="round" stroke-linejoin="round" class="feather feather-code">
                  <polyline points="16 18 22 12 16 6"></polyline>
                  <polyline points="8 6 2 12 8 18"></polyline>
                </svg></span>
            </span>
            <span class="col-xs-12 featured-stats-text-container">
              <span class="featured-stats-number">425+</span><br>
              Projects
            </span>
          </a>
        </div>
      </div>

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row margin-right-0">
          <a href="/membership/become_a_member/committer.php" class="featured-stats-link">
            <span class="col-xs-12 featured-stats-icon-container">
              <span class="featured-circle featured-circle-stats"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                  height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1"
                  stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
                  <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                  <circle cx="9" cy="7" r="4"></circle>
                  <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                  <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                </svg></span>
            </span>
            <span class="col-xs-12 featured-stats-text-container">
              <span class="featured-stats-number">1900+</span><br>
              Committers
            </span>
          </a>
        </div>
      </div>

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row margin-right-0">
          <a href="https://gitlab.eclipse.org/explore/projects/starred" target="_blank" class="featured-stats-link">
            <span class="col-xs-12 featured-stats-icon-container">
              <span class="featured-circle featured-circle-stats"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                  height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1"
                  stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-justify">
                  <line x1="21" y1="10" x2="3" y2="10"></line>
                  <line x1="21" y1="6" x2="3" y2="6"></line>
                  <line x1="21" y1="14" x2="3" y2="14"></line>
                  <line x1="21" y1="18" x2="3" y2="18"></line>
                </svg></span>
            </span>
            <span class="col-xs-12 featured-stats-text-container">
              <span class="featured-stats-number">430M</span><br>
              Lines of code
            </span>
          </a>
        </div>
      </div>

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row margin-right-0">
          <a href="/membership/exploreMembership.php" class="featured-stats-link">
            <span class="col-xs-12 featured-stats-icon-container">
              <span class="featured-circle featured-circle-stats"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                  height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1"
                  stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase">
                  <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect>
                  <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                </svg></span>
            </span>
            <span class="col-xs-12 featured-stats-text-container">
              <span class="featured-stats-number">350+</span><br>
              Members
            </span>
          </a>
        </div>
      </div>

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row margin-right-0">
          <a href="/org/foundation/staff.php" class="featured-stats-link">
            <span class="col-xs-12 featured-stats-icon-container">
              <span class="featured-circle featured-circle-stats"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                  height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1"
                  stroke-linecap="round" stroke-linejoin="round" class="feather feather-award">
                  <circle cx="12" cy="8" r="7"></circle>
                  <polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline>
                </svg></span>
            </span>
            <span class="col-xs-12 featured-stats-text-container">
              <span class="featured-stats-number">65+</span><br>
              Staff Members
            </span>
          </a>
        </div>
      </div>

      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row margin-right-0">
          <a href="/org/workinggroups/explore.php" class="featured-stats-link">
            <span class="col-xs-12 featured-stats-icon-container">
              <span class="featured-circle featured-circle-stats"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                  height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1"
                  stroke-linecap="round" stroke-linejoin="round" class="feather feather-share-2">
                  <circle cx="18" cy="5" r="3"></circle>
                  <circle cx="6" cy="12" r="3"></circle>
                  <circle cx="18" cy="19" r="3"></circle>
                  <line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line>
                  <line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line>
                </svg></span>
            </span>
            <span class="col-xs-12 featured-stats-text-container">
              <span class="featured-stats-number">20</span><br>
              Industry Collaborations
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
